:root{
  --primary-colour: rgb(14, 73, 128);
  --secondary-colour: rgba(140, 182, 221, 0.397);

}

.App {
  text-align: center;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background: radial-gradient(circle at 10% 20%, rgb(107, 157, 171) 23.8%, rgb(92, 122, 158) 66%); */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var (--primary-colour);
  background-color: rgba(162, 162, 209, 0.89);
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;

  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
