:root{
    --primary-colour: rgb(76, 115, 151);
    --secondary-colour: rgba(140, 182, 221, 0.397);
    --body-font: 'News Cycle', sans-serif;
  }
  

.Search{
    text-align: center;
    background-color: rgba(203, 228, 252, 0.397);
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    border-radius: 12px;
}

.Search .search-bar{
  padding: 13px 90px;
  text-align: center;
  border-radius: 7px;
  font-size: 14pt;
  font-family: var(--body-font);
  font-weight: 700;
}

.Search .search-heading{
    margin-bottom: 30px;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 25pt;
}

.Search .search-button{
    padding: 10px;
    margin-left: 10px;
    border-radius: 7px;
    font-size: 14pt;
    transition: all 150ms ease-in-out;
    background-color: rgba(109, 46, 109, 0.616);
}

.Search .search-button:hover{
    background-color: rgba(148, 113, 148, 0.616);
}