:root{
    --primary-colour: rgb(14, 73, 128);
    --secondary-colour: rgba(140, 182, 221, 0.397);
    --text-colour: rgb(10, 10, 56);
  }
  

.Synonyms{
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.Synonyms li{
    font-size: 13pt;
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
    

}

.Synonyms .synonyms-word{
    line-height: 1;
    padding-left: 0;
    color: var(--text-colour);
}